{% extends "main.html.twig" %}
{% block content %}
    {# START CONTAINER FOR FAVOURITES #}
        <div class="container-fluid favourites-container">
            {# START FAVOURITE TITLE#}
                <div class="row favourite-page-title-row">
                    <h2>{{title}}</h2>
                </div>
            {# END FAVOURITE TITLE #}

            {# START LIST OF FAVOURITES #}
                <div class="row favourites-page-favourites-row">
                {% if user_id != 0 %}
                    <div class="col-md-12 favourites-page-favourites-column">
                        {# START OF INDIVIDUAL ROWS #}
                            {% set loop_count = 1 %}
                            {% for item in data %}
                                    {# {% if favourite.user_id == user_id %} #}
                                        {# START NEW ROW FOR 2 DISHES #}
                                            {% if loop_count % 2 != 0 %}
                                                <div class="row favourites-page-favourite-row">
                                            {% endif %}
                                                <div class="col-md-1"></div>
                                                {# START FAVOURITE DISPLAY #}
                                                <div class="col-md-4 favourite-dish-block">
                                                    <div class="row favourite-dish-image-row">
                                                        <img src={{item[0].image}} />
                                                    </div>
                                                    
                                                    {# START DISH TITLE AND RATING #}
                                                    <div class="row favourite-dish-title-rating-row">
                                                        <div class="col-md-7 favourite-dish-title-column">
                                                            <h4>{{ item[0].title }}</h4>
                                                        </div>
                                                        <div class="col-md-5 favourite-dish-rating-column">
                                                            {% for i in range(1, 5) %}
                                                                {% if i <= item[0].rating %}
                                                                    <img src="./assets/images/star-rating.png" />
                                                                {% else %}
                                                                    <img src="./assets/images/star-not-rating.png" />
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    {# END DISH TITLE AND RATING #}

                                                    <div class="row favourite-description-row">
                                                        <div class="col-md-12 favourite-description-column">
                                                            <p> {{ item[0].short_description }} </p>
                                                        </div>
                                                    </div>

                                                    <div class="row favourite-dish-information-row">
                                                        <div class="col-md-5 favourite-dish-button-column">
                                                            <a href="?dish_id={{item[0].ID}}&action=detail"><button class="dish-button">SMULLEN</button></a>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2 favourite-dish-amount-of-people-column">
                                                            <img src="#" /> {{ item[0].amount_of_people }}
                                                        </div>
                                                        <div class="col-md-2 favourite-dish-price-column">
                                                            <img src="#" /> {{ item[0].price }}
                                                        </div>
                                                        <div class="col-md-2 favourite-dish-calories-column">
                                                            <img src="#" /> {{ item[0].calories }}
                                                        </div>
                                                    </div>


                                                </div>
                                                {# END FAVOURITE DISPLAY #}
                                                <div class="col-md-1"></div>

                                            {% if loop_count % 2 == 0 %}
                                                </div>
                                                <div class="row favourite-page-deviding-row">
                                                </div>
                                            {% endif %}
                                            {% set loop_count = loop_count + 1 %}
                                        {# END NEW ROW FOR 2 DISHES #}
                                    {# {% endif %} #}
                            {% endfor %}
                        {# END OF INDIVIDUAL ROWS #}
                    </div>
                {% else %}
                    <h3>Log alstublieft in om uw favorieten te bekijken</h3>
                {% endif %}
                </div>
            {# END LIST OF FAVOURITES #}
        </div>
    {# END CONTAINER FOR FAVOURITES #}
{% endblock %}