{% extends "main.html.twig" %}

{% block content %}

    {# START GROCERY LIST CONTAINER #}
        <div class="container-fluid grocery-container">
            {# START TITLE FOR PAGE #}
                <div class="row grocery-list-page-title-row">
                    <h1> {{ title }} </h1>
                </div>
            {# END TITLE FOR PAGE #}

            {# START GROCERY LIST ITEMS #}
                <div class="row grocery-list-items-row">
                    <div class="col-md-12 grocery-list-items-column">
                        {# START FOR LOOP TO LIST ALL GROCERY ITEMS #}
                        {% set total = 0 %}
                        {% for item in data %}
                            {% for value in item.food_item %}
                                {% set total = total + (item.grocery_list.amount * value.price) %}
                                <div class="row grocery-list-item-row">
                                    <div class="col-md-1 grocery-list-item-image-column">
                                        <img src={{value.image}} />
                                    </div>
                                    <div class="col-md-6 grocery-list-item-title-description-column">
                                        <div class="row grocery-list-item-title-row">
                                            <h3>{{ value.name }}</h3>
                                        </div>
                                        <div class="row grocery-list-item-description-row">
                                            <p>{{ value.description }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 grocery-list-item-amount-column">
                                        <form id="grocery-item-update-form{{value.ID}}">
                                            <input type="text" placeholder={{ item.grocery_list.amount }} class="grocery-list-item-update-field" data-value={{value.ID}}></input>
                                        </form>
                                    </div>
                                    <div class="col-md-1 grocery-list-item-price-column">
                                        <div class="row grocery-list-item-price-row">
                                            <div class="grocery-list-item-price-unit-column">
                                                €
                                            </div>
                                            <div class="grocery-list-item-price-value-column">
                                                <t>{{ value.price * item.grocery_list.amount }}</t>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 grocery-list-item-controls-column">
                                        <div class="row grocery-list-item-controls-row">
                                            <div class="col-md-6 grocery-list-item-controls-approve-column">
                                                <a href="#"><button type="submit" form="grocery-item-update-form{{value.ID}}" class="update-grocery-amount-button" type="" data-value={{value.ID}}>OK</button></a>
                                            </div>
                                            <div class="col-md-6 grocery-list-item-controls-delete-column">
                                                <a href="#"><button class="remove-grocery-button" data-value={{value.ID}}>RM</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {# END FOR LOOP TO LIST ALL GROCERY ITEMS #}
                    </div>
                </div>
            {# END GROCERY LIST ITEMS #}

            {# START ROW FOR TOTAL PRICE #}
                <div class="row grocery-list-total-price-row">
                    <div class="col-md-9 grocery-list-total-price-title-column">
                        <h2>Totaal</h2>
                    </div>
                    <div class="col-md-2 grocery-list-total-price-total-column">
                        <div class="row">
                            <div class="grocery-list-item-price-unit-column">
                            €
                            </div>
                            <div class="grocery-list-item-total-price-value-column"> {{total}} </div>
                        </div>
                    </div>
                    <div class="col-md-1 grocery-list-total-price-control-column">
                        <button class="btn btn-dark" id="remove-all-groceries-button">RM</button>
                    </div>
                </div>
            {# END ROW FOR TOTAL PRICE #}
        </div>
    {# END GROCERY CONTAINER#}
{% endblock %}