{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}
{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}
{% if data|length > 7 %}
    {% if data|length % 8 > 0 %}
        {% set pagination = data|length / 8 + 1 %}
    {% else %}
        {% set pagination = data|length / 8 %}
    {% endif %}
{% else %}
    {% set pagination = 1 %}
{% endif %}
    {#START CONTENT#}{# Agenda and Login on the LEFT side of the page #}
        <div class="col-md-12 dish-grid">
        {% if data %}
        {% for dish in range( 1, data|length - ((page_id - 1) * 8) > 8 ? 8 : data|length - ((page_id - 1) * 8)) %} {# CALCULATE HOW MANY PRODUCTS ARE LEFT TO DISPLAY, SO NO EMPTY CARDS ARE SHOWN#}
            {% if dish % 2 != 0 %}
                <div class="row"> {# CREATE A NEW ROW FOR 2 DISHES WHENEVER AND ODD DISH IS BEING PLACED #}
                    <div class="col-md-1">
                    </div>
            {% endif %}
            {% set dish_id = dish + ((8 * (page_id - 1) - 1)) %}
            <div class="col-md-5 dish-block">
                <div class="row dish-image-row dish-block-row">
                    <div class="col-md-12 dish-image-col">
                        <img src={{ data[dish_id].image }} />
                    </div>
                </div>
                <div class="row dish-block-row">
                    <div class="col-md-7 dish-title">
                        <h5> {{ data[dish_id].title }} </h5>
                    </div>
                    <div class="col-md-5 home-rating">
                        {% for i in range(1, 5) %}
                            {% if i <= data[dish_id].rating %}
                                <img src="./assets/images/star-rating.png" />
                            {% else %}
                                <img src="./assets/images/star-not-rating.png" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row dish-block-row">
                    <div class="col-md-12">
                        {{ data[dish_id].short_description }}
                    </div>
                </div>
                    
                <div class="row dish-block-row">
                    <div class="col-md-4">
                        <a href="?dish_id={{ data[dish_id].ID }}&action=detail"><button class="dish-button">SMULLEN!</button></a>
                    </div>
                    <div class="col-md-8">
                        <div class="row dish-information-icons-row">
                        <div class="col-md-4 dish-amount-of-people-image">
                            <img src="#"/> {{ data[dish_id].amount_of_people }}
                        </div>
                        <div class="col-md-4 dish-price-column">
                            <div><img src="#" />{{ data[dish_id].price }}</div>
                        </div>
                        <div class="col-md-4 dish-calories-column">
                            <img src="#" /> {{data[dish_id].calories }}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            {% if dish % 2 == 0 %} {# CLOSE ROW IF 2 DISHES HAVE BEEN PLACED #}
                {% if dish == 2 %}
                    <div class="row dish-block-deviding-row">
                    </div>
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
        </div>
	<div class="row">
		<div class="col-md-12">
            {% if pagination > 1 %}
			<nav>
				<ul class="pagination-sm pagination pb-sm-5 pb-5 justify-content-center">
                    {% for i in range(1, pagination ) %}
                        <li class="page-item homepage-pagination-page-item" data-value="{{i}}">
                            <a class="page-link" href="">{{ i }}</a>
                        </li>
                    {% endfor %}
				</ul>
			</nav>
            {% endif %}
		</div>
	</div>
    {% else %}
            <h1>Sorry, geen data gevonden.</h1>
        {% endif %}
    {# END CONTENT #}
</div>
{% endblock %}

