{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}
{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

    {# Print #}
    <h4>Dit is de template {{  title }}</h4>

{# START CAROUSEL #}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" data-ride="carousel" id="carousel-804731">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-804731" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-804731">
					</li>
					<li data-slide-to="2" data-target="#carousel-804731">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" alt="Carousel Bootstrap First" src="https://www.layoutit.com/img/sports-q-c-1600-500-1.jpg" />
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="Carousel Bootstrap Second" src="https://www.layoutit.com/img/sports-q-c-1600-500-2.jpg" />
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="Carousel Bootstrap Third" src="https://www.layoutit.com/img/sports-q-c-1600-500-3.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
    {# END CAROUSEL#}

    {#START CONTENT#}
	<div class="row">
		<div class="col-md-4">
        <h1>Agenda</h1>
		</div>
        {% for i in 0..1 %}
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        Image
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{ data[i].title }}</h3>
                    </div>
                    <div class="col-md-3">
                        <p>{{ data[i].rating}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ data[i].short_description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button>Smullen</button>
                    </div>
                    <div class="col-md-3">
                        {{ data[i].amount_of_people}}
                    </div>
                    <div class="col-md-3">
                        €{{ data[i].price}}
                    </div>
                    <div class="col-md-3">
                        {{ data[i].calories}}
                    </div>
                </div>
            </div>
        {% endfor %}
            
	</div>
	<div class="row">
		<div class="col-md-4">
        <h1>Login</h1>
		</div>
		{% for i in 2..3 %}
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        Image
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{ data[i].title }}</h3>
                    </div>
                    <div class="col-md-3">
                        <p>rating</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ data[i].short_description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button>Smullen</button>
                    </div>
                    <div class="col-md-3">
                        {{ data[i].amount_of_people }}
                    </div>
                    <div class="col-md-3">
                        €{{ data[i].price }}
                    </div>
                    <div class="col-md-3">
                        {{ data[i].calories}}
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<nav>
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
    {# END CONTENT #}
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

    {# Loop #}
    <ul>
    {% for record in data %}
        <li>
            {{ record.title }}
            {# sub-loop #}
            <ul>
                {% for ingr in record.ingredient %}
                  <li>
                      <span {% if ingr.ID < 2 %}style='color: #F00'{% endif %}>{{  ingr.name }}</span>
                      {# if #}
                      {%  if ingr.ID == 3 %}
                          <strong>Dit is ID 3!</strong>
                      {%  endif  %}
                  </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    <ul>

    {# Dump #}
    <pre>
        {{ dump(data) }}
    </pre>

{% endblock %}
